.academic {
    min-width: 1136px;
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 3rem 0;
}

.academic__title {
    font-family: Raleway;
    color: #464646;
    font-size: 2rem;
    font-weight: 700;
    padding: 3rem 0rem;
}

.academic__courses {
    min-width: 1136px;
    display: flex;   
    justify-content:space-between;
}

.academic__courses__box {
    background: #FFF;
    width: 250px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos {
    width: 200px;
}

.academic__courses__list {
    list-style: none;

}

.academic__courses__item__title {
    font-family: Raleway;
    color: #464646;
    font-size: 1rem;
    font-weight: 700;
    padding: .7rem 0 .1rem 0;
}

.academic__courses__item__subtitle {
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem; 
    color: #464646;
}

@media screen and (max-width: 1024px) {

    .academic {
        min-width: 704px;
    }
    .academic__courses {
        min-width: 704px;
    }

    .logos {
        width: 150px;
    }

    .academic__courses__box {
        background: #FFF;
        width: 220px;
        height: 170px;       
    }

    .academic__courses__item__title {
        font-size: .8rem;
        font-weight: 700;
    }
    
}

@media screen and (max-width: 425px) {

    .academic {
        min-width: 328px;
    }

    .academic__courses {
        min-width: 328px;
    }

    .academic__courses {
        min-width: 328px;
        display: flex;  
        justify-content: center;
        flex-wrap: wrap;
    }

    .academic__courses__box {
        background: #FFF;
        width: 320px;
    }
}
